<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Zaggora - Travel PLanner</title>
</head>
<body>
    <div class="app">
        <nav>
            <div class="logo"><a href="#">Zaggora</a></div>
            <div id="user-control">
                <a href="#" class="my-trips-menu">My trips</a>
                <a href="#" class="main-menu">Main</a>
            </div>
        </nav>
        <main>
            <div class="hero--container">
                <h1>Zaggora's Travel Planner</h1>
                <p>You can plan your trips with us</p>
            </div>
            <section class="content">
                <div class="trips-gallery">
                </div>
                <div id="trips-search">
                    <p class="heading">Set a trip </p>
                    <form action="#" id="trips-form">
                        <label for="city">
                            <input id="trips-form-destination" type="text" placeholder="Enter a city" required>
                            Where to go:
                        </label>
                        <label for="departure-date">
                            <input id="trips-form-date" type="date" required>
                            Departure:
                        </label>
                        <label for="end-date">
                            <input id="trips-form-date-end" type="date">
                            End date:
                        </label>
                        <button role="submit" type="submit" id="trips-form-btn">Go</button>
                    </form>
                </div>
            </section>
            <div id="modalNotify">
                <p class="modalNotify--message"></p>
            </div>
        </main>
    </div>
    <script>
        // if ('serviceWorker' in navigator) {
        //     window.addEventListener('load', () => {
        //         navigator.serviceWorker.register('/service-worker.js');
        //     });
        // }
    </script>
</body>
</html>