@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
:root {
	--Poppins: "Poppins", sans-serif;
	--Roboto: "Roboto";
}
* {
	margin: 0;
	padding: 0;
}
.app {
	display: grid;
	grid-template-columns: auto;
	grid-auto-rows: auto;
	margin: 0 1rem;
	border-radius: 10px;
}

.app nav {
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-items: flex-end;
}
.app nav .logo {
	margin: 0 0 0 1rem;
	font-size: 1.7rem;
	font-family: var(--Poppins);
	/* font-weight: 300; */
}
.app nav .logo a {
	text-decoration: none;
	color: #302d2dbe;
}

.app nav #user-control {
	position: relative;
	margin-right: 2rem;
	cursor: pointer;
	a.my-trips-menu,
	a.main-menu {
		text-decoration: none;
		font-size: 1rem;
		font-family: var(--Poppins);
		color: #495048bd;

		border: 1px solid rgba(56, 50, 59, 0.741);
		padding: 0.5rem;
		border-radius: 4px;
	}
}

main {
	width: 100%;
	height: auto;
	background-color: #eec0c6;
	background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
	border-radius: 5px;
	position: relative;
}

main .hero--container {
	width: 100%;
	color: #f3f3f3;
	font-family: var(--Roboto);
}

main .hero--container h1 {
	text-align: center;
	margin-top: 3rem;
	font-size: 2rem;
	font-weight: 300;
}

main .hero--container p {
	text-align: center;
	font-weight: 300;
	font-family: var(--Poppins);
	font-style: italic;
	line-height: 2;
}

#trips-search {
	/* background-image: linear-gradient(72deg, #2b156fcf, #353e6bad); */
	background-color: #ea7b7b;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 90%;
	margin: 1.3rem auto;
	border-radius: 5px;
}

#trips-search p.heading {
	margin: 0.4rem 0 0.1rem 0;
	font-family: var(--Poppins);
	color: #f3f3f3;
	font-size: 1.1rem;
	font-weight: 300;
}

#trips-search #trips-form {
	display: flex;
	width: 80%;
	flex-direction: column;
	padding: 1.1rem;
	border-radius: 5px;
}

#trips-search #trips-form label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
	margin-bottom: 1rem;
	font-family: var(--Poppins);
	color: #f3f3f3;
}

#trips-search #trips-form input {
	padding: 6px 12px;
	width: 60%;
	border-radius: 5px;
	font-family: var(--Poppins);
	border: none;
	font-size: 0.9rem;
}

#trips-search #trips-form #trips-form-btn {
	padding: 0.3rem 1rem;
	border-radius: 5px;
	cursor: pointer;
	height: 35px;
	font-family: var(--Roboto);
	background-color: #155263;
	border: none;
	color: #f1f1f1;
	transition: 0.1s linear background-color, color;
	font-size: 1.1rem;
}

#trips-search #trips-form #trips-form-btn:hover {
	background-color: #243271;
	color: #fff;
	transition: 0.1s linear background-color, color;
}

/* My trips gallery section */

.trips-gallery {
	/* background-image: linear-gradient(72deg, #2b156fcf, #353e6bad); */
	background-color: #2c4763;
	margin: 2rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* padding: 1rem; */
	width: 90%;
	border-radius: 5px;
}

.trips-gallery h3 {
	font-family: var(--Poppins);
	font-size: 1.3rem;
	text-align: center;
	margin: 1rem 0;
	color: #ffffff;
}

hr {
	width: 28%;
	border: 1px solid rgba(255, 255, 255, 0.4);
}

.trips-gallery .my-trip {
	/* background-image: linear-gradient(72deg, #2b156fcf, #353e6bad); */

	border: 1px solid rgba(197, 197, 197, 0.4);
	width: calc(100% - 4rem);
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex-direction: row-reverse; */
	flex-direction: column-reverse;
	margin: 1.1rem 0;
	color: #fff;
}

.trip-date-countDown {
	color: #8f1853;
	font-size: 1.1rem;
}

.trips-gallery .no-trip-info {
	margin: 1rem 0;
	color: #f3f3f3;
	font-family: var(--Poppins);
	font-size: 0.8rem;
}
.trips-gallery .my-trip #my-trip-img {
	/* min-width: 150px; */
	width: 330px;
	height: 250px;
	margin: 0 auto 0.7rem auto;
}
.trips-gallery .my-trip .right-side {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
}

.trips-gallery .my-trip .right-side .right-trip-control {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	margin: auto;
}

.trips-gallery .my-trip .left-side {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
}

.trips-gallery .my-trip .left-side p {
	margin: 0.4rem 0;
	font-family: var(--Poppins);
	font-weight: 100;
	color: #eaeaea;
}
.trips-gallery .my-trip .left-side .left-trip-control {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.trips-gallery .my-trip .left-side .trip-gallery-heading {
	font-weight: 400;
}

.trips-gallery .my-trip .left-side .trip-gallery-date {
	font-weight: 400;
}

.trips-gallery .my-trip button {
	padding: 0.2rem 0.3rem;
	border-radius: 5px;
	margin: 0.2rem;
	font-family: var(--Poppins);
	cursor: pointer;
	background-color: #21af36;
	color: #ffffff;
	transition: 0.1s linear background-color, color;
}

.trips-gallery .my-trip button:hover {
	background-color: #22733d;
	color: #f3f3f3;
	transition: 0.1s linear background-color, color;
}

.trips-gallery .my-trip .left-side .trip-weather {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin: 1rem 0;
}

.trips-gallery .my-trip .left-side .trip-weather p:first-of-type {
	align-self: start;
	font-weight: 400;
}

.trips-gallery .my-trip .left-side .trip-notes {
	border: 1px solid rgba(197, 197, 197, 0.4);
}

// Modal
#modal {
	position: sticky;
	bottom: 10px;
	opacity: 0;
	left: 20px;
	padding: 0.4rem 1rem;
	background-color: #ddd;
	width: auto;
	max-width: 200px;
	border-radius: 5px;
	transition: 0.2s linear opacity;
	color: #ffffff;
}

#modal .modal--message {
	z-index: 1;
	font-size: 1.1rem;
	font-family: var(--Poppins);
}

#modal.modal--show {
	opacity: 1;
	transition: 0.2s linear opacity;
}
@media screen and (min-width: 650px) {
	.trips-gallery .my-trip #my-trip-img {
		width: 100%;
		height: 100%;
		max-width: 600px;
		max-height: 380px;
	}
	.trips-gallery .my-trip button {
		padding: 0.5rem 0.6rem;
	}

	.trips-gallery .my-trip p {
		font-size: 1.1rem;
	}
}

@media screen and (min-width: 920px) {
	.trips-gallery .my-trip #my-trip-img {
		width: 100%;
		height: 100%;
		max-width: 750px;
		max-height: 450px;
	}
	.trips-gallery .my-trip button {
		padding: 0.6rem 0.7rem;
	}
}

@media screen and (min-width: 1120px) {
	main {
		display: flex;
		flex-direction: column;
	}
	main .hero--container {
		margin: 0.5rem 0 2rem 0;
	}
	main .hero--container h1 {
		font-size: 2.6rem;
		font-weight: 400;
	}
	main .hero--container p {
		font-size: 1.3rem;
	}
	main section.content {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}

	#trips-search {
		width: 40%;
		/* height: 300px; */
		justify-content: space-evenly;
		margin: 2rem auto;
		padding: 2rem 0;
	}
	#trips-search p.heading {
		font-size: 1.4rem;
		font-weight: 700;
	}
	.trips-gallery {
		width: 50%;
	}
	.trips-gallery .my-trip #my-trip-img {
		width: 100%;
		height: 100%;
		max-width: 600px;
		max-height: 450px;
	}
	.trips-gallery .my-trip button {
		padding: 0.5rem 0.6rem;
	}

	.trips-gallery .my-trip p {
		font-size: 1.1rem;
	}
}
